@font-face {
  font-family: 'Piwik Test Override';
  font-style: normal;
  font-weight: 400;
  src: url(tests/resources/screenshot-override/DejaVuSans.ttf) format('ttf');
}
@font-face {
  font-family: 'Piwik Test Override';
  font-style: normal;
  font-weight: 700;
  src: url(tests/resources/screenshot-override/DejaVuSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Piwik Test Override';
  font-style: italic;
  font-weight: 400;
  src: url(tests/resources/screenshot-override/DejaVuSans-Oblique.ttf) format('ttf');
}
@font-face {
  font-family: 'Piwik Test Override';
  font-style: italic;
  font-weight: 700;
  src: url(tests/resources/screenshot-override/DejaVuSans-BoldOblique.ttf) format('ttf');
}

* {
    font-family: 'Piwik Test Override', serif; /* serif so we know when the font isn't being used */
}

/**
 * NOTE: this is not an ideal solution. the unicode down triangle (and other unicode characters) should
 * be removed if possible (and potentially replaced w/ images).
 */
#languageSelection .ui-autocomplete-input:after,.sites_autocomplete--dropdown .custom_select_main_link:before {
    /*content:"";*/
}
.sites_autocomplete .custom_select_ul_list li a, .sites_autocomplete .custom_select_all a, .sites_autocomplete .custom_select_main_link > span {
    /*text-overflow: clip;*/
}