@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(tests/resources/screenshot-override/open_sans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(tests/resources/screenshot-override/open_sans_b.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(tests/resources/screenshot-override/open_sans_i.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(tests/resources/screenshot-override/open_sans_bi.woff) format('woff');
}

* {
    font-family: 'Open Sans';
}

/**
 * NOTE: this is not an ideal solution. the unicode down triangle (and other unicode characters) should
 * be removed if possible (and potentially replaced w/ images).
 */
#languageSelection .ui-autocomplete-input:after,.sites_autocomplete--dropdown .custom_select_main_link:before {
    content:"";
}
.sites_autocomplete .custom_select_ul_list li a, .sites_autocomplete .custom_select_all a, .sites_autocomplete .custom_select_main_link > span {
    text-overflow: clip;
}